extends layout

block content
    each avatar in avatars
        img(src="data:image/" + avatar.img.contentType + ";base64," + avatar.img.data.toString('base64'), alt="") 
    form(action="", method="post")
        input(id="yaddaText" type="text", name="text")
        input(type="file" name="img" accept=".png, .jpeg, .jpg")
        select(name="tags")
            each tag in tags
                option(value=tag.id) #{tag.name}
        input(type="submit", value="Yadda" class="classicButton")
    each yadda in yaddas 
        div(class="yadda" id=yadda.id) 
            p(class="yaddaName") #{yadda.createdByName}
            p(class="yaddaTime") #{yadda.timestamp}
            p(class="yaddaText") #{yadda.text}
            each hashtag in yadda.tags
                p(class="yaddaTag") #{hashtag}
            if(yadda.replies.length > 0)
                a(href="/yadda?id=" + yadda.id class="yaddaReplies") Replies: #{yadda.replies.length}
            if(replies.length > 0)
                each reply in replies
                    if(reply.yaddaId == yadda.id)
                        p #{reply.createdByName}
                        p #{reply.content}

            form(action="/" + yadda.id, method="post") 
                input(type="text", name="reply")
                input(type="submit", value="Reply")
            
